{% extends 'base.html.twig' %}

{% block title %}Hello RedirectRegistrationController!{% endblock %}

{% block body %}
<style>
    a {text-decoration: none;color: #fff;padding: 1em; background: radial-gradient(circle, rgba(186,96,228,1) 0%, rgba(96,38,116,1) 100%);color: black;border: 2px solid #fff;border-radius: 5px;transition: background-color 0.3s, color 0.3s;}
    a:hover {color: #ff00ff}
    .button {display:flex; justify-content: center;top: 50%;left: 50%;}
    
</style>

<div class="button">
    <a href="https://mailtrap.io/inboxes/2879706/messages"> Rendez-vous sur votre boite mail pour validez votre email</a>
</div>
{% endblock %}
